#cuadricula {
    display: grid;
    grid-template-columns: repeat(11,auto);
    grid-template-rows: repeat(400px, auto) ;

    border: 3px solid black;
    height: 600px;
    width: 90%;

    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item {
    background-color: var(--color);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}

.item2 {
    background-color: var(--color);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    border: 5px solid red;
}