#cuadricula {
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 200px 250px auto;

    border: 3px solid #000;
    height: 600px;
    width: 90%;

    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.item {
    background-color: var(--color);
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
}